.app {
  min-height: 100vh;
  background: var(--bg);
}

.main-container {
  width: min(1180px, 90%);
  margin: 0 auto;
  padding: 48px 0 70px;
}

@media (max-width: 650px) {
  .main-container {
    padding-top: 30px;
  }
}
